:root {
    --bs-colors-bg-dark-main: rgb(43, 43, 43);
    --bs-colors-bg-dark-secondary: rgb(36, 36, 36);
}
#bw-main {
    flex-direction: row;
    flex-grow: 1;
}

#bw-toolbar {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: space-between;
    flex-direction: row;
}